<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="restaurant-meals">
      <ion-icon name="restaurant"></ion-icon>
      <!--<ion-label>Tab One</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="restaurant-tracker">
      <ion-icon name="car"></ion-icon>
      <!--<ion-img src="/assets/icon/cart.png"></ion-img>-->
      <!--<ion-label>Tab Two</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <!--<ion-label>Tab Three</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
