<ion-header>
  <ion-toolbar>
    <ion-label><ion-button fill="clear" [routerLink]="['/tabs/tab3']" routerDirection="backward">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button></ion-label>
    <ion-title text-center>
      Track Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button color="light" expand="full" (click)="showUpcoming()">
        <div text-center>
          <ion-text color="dark">
            <ion-icon name="car"></ion-icon>Upcoming
          </ion-text>
        </div>
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="light" expand="full" (click)="showHistory()">
        <div text-center>
          <ion-text color="medium">
            <ion-icon name="time"></ion-icon>History
          </ion-text>
        </div>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="isUpcoming">
    <div *ngFor="let item of upcoming">
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col><img src="{{item.image}}" alt=""/></ion-col>
            <ion-col>
              <div><b>{{item.name}}</b></div>
              <h5>{{item.location}}</h5>
              <h5>{{item.subtotal}}</h5>
              <ion-text color="success">
                <h5>{{item.status}}</h5>
              </ion-text>

              <ion-button size="small" color="light">Cancel</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>

  <div *ngIf="isHistory">
    <ion-list *ngFor="let date of dates">
      <ion-item>{{date}}</ion-item>
      <div *ngFor="let item of history">
        <div *ngIf="date==item.date">
          <ion-card>
            <ion-card-content>
              <ion-row>
                <ion-col><img src="{{item.image}}" alt=""/></ion-col>
                <ion-col>
                  <div><b>{{item.name}}</b></div><br>
                  <h5>{{item.restaurant}}</h5><br>
                  <h5>{{item.subtotal}}</h5>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
