<ion-header>
  <ion-toolbar>
    <ion-label><ion-button fill="clear">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button></ion-label>
    <ion-title>
      Track Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button color="light" expand="full">
        <div text-center>
          <ion-text color="dark">
            <ion-icon name="car"></ion-icon>Upcoming
          </ion-text>
        </div>
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="light" expand="full">
        <div text-center>
          <ion-text color="medium">
            <ion-icon name="time"></ion-icon>History
          </ion-text>
        </div>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list>

    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col><img src="/assets/food1.png" alt=""/></ion-col>
          <ion-col>
            <div><b>Orange Chicken(1)</b></div>
            <h5>CMU-Hunt</h5>
            <h5>$9.99</h5>
            <ion-text color="success">
              <h5>Delivering</h5>
            </ion-text>

            <ion-button size="small" color="light">Cancel</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
