<ion-header>
  <ion-toolbar>
    <ion-label><ion-button fill="clear" (click)="goBack()" routerDirection="backward">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button></ion-label>
    <ion-title text-center>Cart: {{userCategory}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-row>
        <!-- <ion-col>
          <button>
            <img src="/assets/food1.png" alt=""/>
          </button>
        </ion-col> -->
        <ion-col>
          <ion-row><b>{{item.meal_name}}</b></ion-row>
          <br>
          <ion-label>Quantity: {{item.quantity}} &nbsp;&nbsp;Subtotal: ${{item.quantity * item.price}}&nbsp;&nbsp;
            <ion-button id="removeBtn" class="ion-margin-bottom" color="danger" (click)="remove(item)">remove</ion-button>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-text class="ion-margin-start">Total: {{total}}</ion-text>

      <ion-select [interfaceOptions]="customAlertOptions" interface="alert" style="display: none" value="brown" #mySelect>
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>


  <ion-list class="btn-bottom ion-margin-start ion-margin-end">
    <ion-button expand="block" color="success" (click)="presentAlertConfirm()">
      Confirm Order
    </ion-button>
    <ion-button  expand="block" color="primary" [routerLink]="['']" >
      Order From Another Restaurant
    </ion-button>
  </ion-list>
</ion-content>

