<ion-header>
  <ion-toolbar>
    <ion-label><ion-button fill="clear" (click)="goBack()" routerDirection="backward">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button></ion-label>
    <ion-title text-center>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col>
          <button>
            <img src="/assets/food1.png" alt=""/>
          </button>
        </ion-col>
        <ion-col>
          <ion-row><b>Orange Chicken</b></ion-row>
          <br>
          <div>$9.99</div>
          <br/>
          <ion-icon name="add-circle"></ion-icon><span style="font-size: large">&nbsp;1&nbsp;</span><ion-icon name="remove-circle"></ion-icon>
          <br/>
          <ion-button color="danger">remove</ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-list class="btn-bottom ion-margin-start ion-margin-end">
    <ion-button expand="block" color="success" [routerLink]="['']" (click)="confirmOrder()">
      Confirm Order
    </ion-button>
    <ion-button  expand="block" color="primary" [routerLink]="['']" (click)="cancelOrder()">
      Order From Another Restaurant
    </ion-button>
  </ion-list>
</ion-content>
