<ion-header>
  <ion-toolbar>
    <ion-button color="light" fill="solid" [routerLink]="['/order-time-loc-filter']">
        <ion-icon name="pin" class="custom-icon"></ion-icon>

      <p style="color:black;">&nbsp; &nbsp; CMU Hunt &nbsp; 11:30 &nbsp; 2/28</p>

    </ion-button>
    <ion-button color="light" fill="solid" slot="end" class="custom-icon">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-img src="/assets/banner_slide_1.png"></ion-img>
      </ion-slide>
      <!--<ion-slide>-->
        <!--<ion-img src="/assets/banner_slide_2.png"></ion-img>-->
      <!--</ion-slide>-->
    </ion-slides>

    <ion-row>
      <ion-col>
        <ion-button fill="clear">
        <ion-img src="/assets/china.png"></ion-img>
      </ion-button></ion-col>
      <ion-col><ion-button fill="clear">
        <ion-img src="/assets/india.png"></ion-img>
      </ion-button></ion-col>
      <ion-col><ion-button fill="clear">
        <ion-img src="/assets/korea.png"></ion-img>
      </ion-button></ion-col>
      <ion-col><ion-button fill="clear">
        <ion-img src="/assets/japan.png"></ion-img>
      </ion-button></ion-col>
    </ion-row>

  <ion-list>
    <ion-card>
      <ion-card-content>
        <ion-row [routerLink]="['/menu']" routerDirection="forward">
          <ion-col>
              <img src="/assets/little_asia.jpeg" alt=""/>
          </ion-col>
          <ion-col>
            <ion-row><b>Little Asia</b></ion-row>
            <ion-row>Chinese</ion-row>
            <ion-row>4.6<ion-icon name="star"></ion-icon></ion-row>
            <ion-row>Order by 10:00 am</ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content style="background-color: #f0eff1">
        <ion-row>
          <ion-col><img src="/assets/orient_express.png" alt=""/></ion-col>
          <ion-col>
            <ion-row><b>Orient Express</b></ion-row>
            <ion-row>Chinese</ion-row>
            <ion-row>4.0 <ion-icon name="star"></ion-icon></ion-row>
            <ion-row>Order by 9:00 am</ion-row>
            <ion-row><p style="color: red;">unavailable for ordering</p></ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>
