<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--&lt;!&ndash;<ion-button color="light" fill="solid" expand="full"  [routerLink]="['/order-time-loc-filter']">&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-icon name="pin" class="custom-icon"></ion-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-input *ngIf="!userLocation || !userTime" disabled placeholder=" Choose Pick Up" class="ion-text-start" style="color:black;"></ion-input>&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-input *ngIf="userLocation && userTime" disabled placeholder=" Choose Pick Up" class="ion-text-start" style="color:black;">&nbsp; &nbsp; {{userLocation}} &nbsp; {{userTime}} &nbsp;</ion-input>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-button>&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-button color="light" fill="solid" slot="end" class="custom-icon">&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-icon name="search"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-button>&ndash;&gt;-->

   <!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
    <!-- <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-img src="/assets/banner_slide_1.png"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="/assets/banner_slide_2.png"></ion-img>
      </ion-slide>
    </ion-slides> -->

    <!-- <ion-row class="ion-margin-top">
      <ion-col>
        <ion-img src="/assets/Chinese.png" style="width : 85% ; height : 85% ; margin: auto" (click)="queryByCountry()"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="/assets/Indian.png" style="width : 85% ; height : 85% ; margin: auto" (click)="queryByCountry()"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img src="/assets/Japanese.png" style="width : 85% ; height : 85% ; margin: auto" (click)="queryByCountry()"></ion-img>
      </ion-col>
      <ion-col>
        <ion-button style="width : 80% ; height : 80% ;" fill="clear" (click)="queryByCountry()">Show <br/>All</ion-button>
      </ion-col>
    </ion-row> -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Choose your restaurant:</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-card *ngFor="let restaurant of restaurants">
      <ion-card-content>
        <!-- <ion-row [routerLink]="['/restaurant/' + restaurant.key]" routerDirection="forward"> -->
        <ion-row (click)="goToNext(restaurant.key)">
          <ion-col>
              <img [src]="'/assets/' + restaurant.value.picture" alt=""/>
          </ion-col>
          <ion-col>
            <ion-row><b>{{ restaurant.value.name }}</b></ion-row>
            <ion-row>{{ restaurant.value.type }}</ion-row>
            <ion-row>4<ion-icon name="star"></ion-icon>&nbsp;(from developer)</ion-row>
            <ion-row>Order:<br/> - lunch by {{ restaurant.value.order_by_time['lunch']}} <br/>- dinner by {{ restaurant.value.order_by_time['dinner']}}</ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-text color="medium" *ngIf="restaurants.length == 0">
        <h4 class="ion-margin-start ion-margin-end ion-text-center">No available restaurant. Please select a different pick up option.</h4>
    </ion-text>
  </ion-list>
</ion-content>
