<ion-header>
  <ion-toolbar>
    <ion-button color="light" fill="solid" expand="full" [routerLink]="['/order-time-loc-filter']">
        <ion-icon name="pin" class="custom-icon"></ion-icon>

      <p style="color:black;">&nbsp; &nbsp; {{userLocation}} &nbsp; {{userTime}} &nbsp;</p>

    </ion-button>
    <!-- <ion-button color="light" fill="solid" slot="end" class="custom-icon">
      <ion-icon name="search"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-img src="/assets/banner_slide_1.png"></ion-img>
      </ion-slide>
      <!--<ion-slide>-->
        <!--<ion-img src="/assets/banner_slide_2.png"></ion-img>-->
      <!--</ion-slide>-->
    </ion-slides>

    <ion-row>
      <ion-col>
        <ion-button fill="clear">
        <ion-img src="/assets/china.png"></ion-img>
      </ion-button></ion-col>
      <ion-col><ion-button fill="clear">
        <ion-img src="/assets/india.png"></ion-img>
      </ion-button></ion-col>
      <ion-col><ion-button fill="clear">
        <ion-img src="/assets/korea.png"></ion-img>
      </ion-button></ion-col>
      <ion-col><ion-button fill="clear">
        <ion-img src="/assets/japan.png"></ion-img>
      </ion-button></ion-col>
    </ion-row>

  <ion-list>
    <ion-card *ngFor="let restaurant of restaurants">
      <ion-card-content>
        <ion-row [routerLink]="['/memu/' + restaurant.key]" routerDirection="forward">
          <ion-col>
              <img [src]="'/assets/' + restaurant.value.picture" alt=""/>
          </ion-col>
          <ion-col>
            <ion-row><b>{{ restaurant.value.name }}</b></ion-row>
            <ion-row>{{ restaurant.value.type }}</ion-row>
            <ion-row>4.6<ion-icon name="star"></ion-icon></ion-row>
            <ion-row>Order by {{ restaurant.value.order_by_time}}</ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
