ion-avatar {
  margin: 20px auto;
  height: 70%;
  width: 70%;
}

ion-list {
  margin: 0 10px;
}
ion-icon {
  margin-right: 20px;
}
ion-item {
  margin-bottom: 10px;
}
#forward-arrow {
  text-align: right;
}

#profile-info {
  vertical-align: middle;
  display: block;
  height: 100%;
}