<ion-header>
  <ion-toolbar>
    <ion-label><ion-button fill="clear" (click)="goBack()" routerDirection="backward">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button></ion-label>
    <ion-title text-center>{{dish_detail.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="/assets/food1.png" alt="">

  </ion-card>
  <ion-row style="margin: 20px">
    <ion-col>
      <ion-card-title color="danger">${{dish_detail.price}}</ion-card-title>
    </ion-col>
    <ion-col style="font-size: 20px">
   <ion-button class="btn-circle" size="small" color="medium" (click)="increment()">
     <ion-icon name="add"></ion-icon>
    </ion-button>&nbsp;&nbsp;
    <span>{{ quantity }}</span>&nbsp;&nbsp;
    <ion-button class="btn-circle" size="small" color="medium" (click)="decrement()">
      <ion-icon name="remove"></ion-icon>
    </ion-button>
    </ion-col>
  </ion-row>
  <ion-card-content>
    Description: <br>
    {{dish_detail.description}}
  </ion-card-content>
  <ion-button class="btn-bottom ion-margin-start ion-margin-end" color="success" (click)="addToCart()">
    Add To Cart
  </ion-button>
</ion-content>
