<ion-header>
  <ion-toolbar>
    <ion-title>Edit Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="text-align: center;">
    <button class="add-button">
      <ion-icon size="large" ios="ios-add" md="md-add" class="add-icon"></ion-icon>
    </button>
  </div>
  <ion-item margin-top="30px">
    <ion-label position="fixed">Name: </ion-label>
    <ion-input required type="text" [(ngModel)]="meal.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Price: </ion-label>
    <ion-input required type="number" [(ngModel)]="meal.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Description: </ion-label>
    <ion-input required type="text" [(ngModel)]="meal.description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Time:</ion-label>
    <ion-select value=meal.meal_type [(ngModel)]="meal.meal_type" interface="popover" placeholder="Select One">
      <ion-select-option value="lunch">Lunch</ion-select-option>
      <ion-select-option value="dinner">Dinner</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>
<ion-footer padding-bottom="20px" padding-top="20px">

  <div style="text-align: center;">
    <button class="btn" id="cancel" [routerLink]="['/restaurant-tabs']">
      Cancel
    </button>
    <button class="btn" id="apply" (click)="saveMeal()">
      Add to Menu
    </button>
  </div>

</ion-footer>
