<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sign Up</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    
    <form [formGroup]="validations_form"  (ngSubmit)="tryRegister(validations_form.value)">
      <ion-list>
        <ion-item>
            <ion-label position="floating" color="primary">Email:</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item>
            <ion-label position="floating" color="primary">Password:</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-list>
      <br>
      <ion-button type="submit" expand="full" style="--background: #59C172;" [disabled]="!validations_form.valid"  >Sign Up</ion-button>
    </form>




      
    </ion-card-content>
  </ion-card>
</ion-content>
