<ion-header>
  <ion-toolbar>
    <ion-label><ion-button fill="clear" [routerLink]="['/tabs/tab3']" routerDirection="backward">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button></ion-label>
    <ion-title>My Credits</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content padding>
  <ion-list *ngFor="let item of credit_items">
    <ion-item lines="none">
      {{item.restaurant}} <span slot="end" ><ion-text color="success">{{item.credit}}</ion-text></span>
    </ion-item>
  </ion-list>
</ion-content>
